doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{ docTitle }
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/product.css")
    body 
        header.main-header
            nav.main-header__nav 
                ul.main-header__item-list
                    li.main-header__item 
                        a.active(href="/") Shop 
                    li.main-header__item
                        a(href="/admin/add-product") Add Product 
        main 
            .grid 
                if prods.length > 0
                    each product in prods
                        article.card.product-item 
                            header.card__header 
                                h1.product__title #{ product.title } 
                            .card__image 
                                img(src="https://upload.wikimedia.org/wikipedia/commons/b/b5/191125_Taylor_Swift_at_the_2019_American_Music_Awards_%28cropped%29.png", alt="Taylor Swift")
                            .card__content 
                                h2.product__price #{ product.price }
                                p.product__description #{ product.description } 
                            .card__actions 
                                button.btn Add to Cart
                else 
                    h1 No products